
#carouselExampleControls  p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #212121;
  text-align: center;
}
#carouselExampleControls h4{
    text-align: center;
    color: #212121;
}