/* Trabalhe conosco */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

#company-img {
  background-image: url("../img/empresa.jpg");
  background-size: cover;
  height: 100%;
}

#pattern-img h4,
#pattern-img p {
  color: #fff;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}

#apply-btn:hover {
  border-color: #757575;
  background-color: #757575;
}
